<li class="flex items-center gap-x-4 py-5" id="<%= dom_id(team_member) %>">
  <div class="h-8 w-8 rounded-full bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
    <span class="font-semibold text-sm"><%= team_member.initials.upcase %></span>
  </div>

  <div class="min-w-0 w-full flex items-center justify-between">
    <div class="flex items-end gap-x-4">
      <div class="flex flex-col">
        <p class="text-sm font-semibold leading-6 text-gray-800 dark:text-gray-300"><%= team_member.name %></p>
        <p class="text-xs pt-1 text-gray-600 dark:text-gray-400">
          <%= team_member.email %>
          &middot;
          <%= team_member.role.capitalize %>
        </p>
      </div>

      <% if team_member.awaiting_activation? %>
        <%= render Ui::BadgeComponent.new(color: 'yellow') do %>
          Pending
        <% end %>
      <% end %>
    </div>

    <% unless team_member == current_admin_user %>
      <%= render Ui::Dropdown::Component.new do |dropdown| %>
        <% dropdown.with_trigger_button do %>
          <%= inline_svg_tag 'icons/ellipsis-horizontal.svg', class: 'h-6 w-6', aria: true %>
        <% end %>

        <% if AdminUserPolicy.new(current_admin_user).change_role? %>
          <% dropdown.with_item do %>
            <%= link_to edit_admin_v2_team_member_role_path(team_member), data: { turbo_frame: 'modal' }, class: 'text-gray-700 dark:text-gray-300 whitespace-nowrap group flex items-center px-3 py-2 text-sm' do %>
              <%= inline_svg_tag 'icons/user-circle.svg', class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-400' %>
              Change role
            <% end %>
          <% end %>
        <% end %>

        <% if team_member.awaiting_activation? %>
          <% dropdown.with_item do %>
            <%= link_to admin_v2_team_member_resend_invitation_path(team_member), data: { turbo_method: :post, turbo_confirm: 'Are you sure?' }, class: 'text-gray-700 dark:text-gray-300 whitespace-nowrap group flex items-center px-3 py-2 text-sm' do %>
              <%= inline_svg_tag 'icons/envelope.svg', class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-400' %>
              Resend invite
            <% end %>
          <% end %>

          <% dropdown.with_item do %>
            <%= link_to admin_v2_team_member_path(team_member), data: { turbo_method: :delete, turbo_frame: '_top', turbo_confirm: 'Are you sure?' }, class: 'text-red-700 dark:text-red-300 whitespace-nowrap group flex items-center px-3 py-2 text-sm' do %>
              <%= inline_svg_tag 'icons/trash.svg', class: 'mr-3 h-5 w-5 text-red-700 group-hover:text-red-600 dark:text-red-300 dark:group-hover:text-red-400' %>
              Remove
            <% end %>
          <% end %>
        <% end %>

        <% if team_member.activated? %>
          <% dropdown.with_item do %>
            <%= link_to admin_v2_team_member_password_resets_path(team_member), data: { turbo_method: :post, turbo_confirm: 'Are you sure?' }, class: 'text-gray-700 dark:text-gray-300 whitespace-nowrap group flex items-center px-3 py-2 text-sm' do %>
              <%= inline_svg_tag 'icons/envelope.svg', class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-400' %>
              Send password reset email
            <% end %>
          <% end %>

          <% if AdminUserPolicy.new(current_admin_user).reset_2fa? %>
            <% dropdown.with_item do %>
              <%= link_to admin_v2_team_member_two_factor_reset_path(team_member), data: { turbo_method: :put, turbo_frame: '_top', turbo_confirm: 'Are you sure?' }, class: 'text-gray-700 dark:text-gray-300 whitespace-nowrap group flex items-center px-3 py-2 text-sm' do %>
                <%= inline_svg_tag 'icons/arrow-path.svg', class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-400' %>
                Reset 2FA
              <% end %>
            <% end %>
          <% end %>

          <% if AdminUserPolicy.new(current_admin_user).deactivate? %>
            <% dropdown.with_item do %>
              <%= link_to admin_v2_team_member_deactivation_path(team_member), data: { turbo_method: :put, turbo_confirm: 'Are you sure?' }, class: 'text-red-700 dark:text-red-300 whitespace-nowrap group flex items-center px-3 py-2 text-sm' do %>
                <%= inline_svg_tag 'icons/user-minus.svg', class: 'mr-3 h-5 w-5 text-red-700 group-hover:text-red-600 dark:text-red-300 dark:group-hover:text-red-400' %>
                Deactivate
              <% end %>
            <% end %>
          <% end %>

        <% end %>

        <% if team_member.deactivated? && AdminUserPolicy.new(current_admin_user).reactivate? %>
          <% dropdown.with_item do %>
            <%= link_to admin_v2_team_member_reactivation_path(team_member_id: team_member), data: { turbo_method: :put, turbo_confirm: 'Are you sure?' }, class: 'text-gray-700 dark:text-gray-300 whitespace-nowrap group flex items-center px-3 py-2 text-sm' do %>
              <%= inline_svg_tag 'icons/user-plus.svg', class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-400' %>
              Reactivate
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</li>
