<%= title('Settings') %>

<div class="page-container">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <aside class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
      <%= render VerticalNavigation::ContainerComponent.new do |c| %>
        <% c.with_links(
             [
               { name: 'Profile', href: edit_users_profile_path, icon_path: 'user-circle.svg' },
               { name: 'Password', href: edit_user_registration_path, icon_path: 'key.svg' },
             ]
           ) %>
      <% end %>
    </aside>

    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">

      <%= form_with model: current_user, url: users_profile_path, builder: TailwindFormBuilder do |form| %>
        <%= render CardComponent.new do |card| %>
          <% card.with_header do %>
              <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-200">Profile</h3>
              <p class="text-sm mt-2 text-gray-500 dark:text-gray-400">Profile information will be displayed on your dashboard.</p>
          <% end %>
          <% card.with_body do %>
            <div class="grid grid-cols-6 gap-6">

              <div class="col-span-6 sm:col-span-3">
                <%= form.label :username %>
                <%= form.text_field :username, class: 'dark-form-input', data: { test_id: 'username-field' } %>
              </div>

              <div class="col-span-6 sm:col-span-4">
                <%= form.label :email %>
                <%= form.email_field :email, class: 'dark-form-input', data: { test_id: 'email-field' } %>
              </div>

              <div class="col-span-6 sm:col-span-6">
                <%= form.label :learning_goal %>
                <%= form.text_area :learning_goal, class: 'dark-form-input', placeholder: 'I wanna be the very best...', rows: 4, data: { test_id: 'learning-goal-field' }, autofocus: params[:learning_goal].present? %>
              </div>

              <div class="col-span-6">
                <%= form.label :avatar %>
                <div class="flex items-center">
                  <%= render User::AvatarComponent.new(current_user:, classes: 'w-16') %>
                </div>
                  <p class="text-sm text-gray-500 mt-2 dark:text-gray-400">Avatar can be grabbed from Github or Google when signing in with those services.</p>
              </div>
            </div>
          <% end %>
          <% card.with_footer(classes: 'px-4 py-3 pt-3 bg-gray-50 text-right sm:px-6 dark:bg-gray-700/40 rounded-b-lg') do %>
            <%= form.submit 'Save', class: 'button button--primary py-2 px-4', data: { test_id: 'save-profile-btn', disable_with: false } %>
          <% end %>
        <% end %>
      <% end %>

      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-200">Danger Zone</h3>
            <p class="text-sm mt-2 text-gray-500 dark:text-gray-400">Careful, these actions can not be undone.</p>
        <% end %>
        <% card.with_body do %>
          <div class="inline-flex flex-col space-y-5">
            <%= link_to(
              users_progress_path(current_user),
              class: 'button button--secondary px-3 py-2 text-sm',
              data: { action: 'dialog-router#open:prevent visibility#off', dialog_router_id_param: 'reset_user_progress', test_id: 'user-reset-progress-btn' }
            ) do %>
              <%= inline_svg_tag 'icons/refresh.svg', class: '-ml-0.5 mr-2 h-4 w-4 text-red-700 dark:text-red-500', aria: true, title: 'Reset icon' %>
              Reset progress
            <% end %>
            <%= link_to registration_path(current_user), class: 'button button--secondary px-3 py-2 text-sm', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?', test_id: 'user-account-delete-link' } do %>
              <%= inline_svg_tag 'icons/trash.svg', class: '-ml-0.5 mr-2 h-4 w-4 text-red-700 dark:text-red-500', aria: true, title: 'Trash can icon' %>
              Delete account
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render Overlays::DialogComponent.new(id: 'reset_user_progress') do |component| %>
    <div>
      <h3 id="dialog-title" class="text-base font-semibold text-gray-900 dark:text-white">Reset progress & submissions</h3>
      <div class="mt-2">
        <p class="text-sm text-gray-600 dark:text-gray-300">Are you sure you want to reset all of your progress? All progress and project submissions will be erased.</p>
        <p class="text-sm text-gray-600 dark:text-gray-300">This action cannot be undone.</p>
      </div>
    </div>

    <div class="mt-5 flex flex-row-reverse gap-x-2">
      <%= button_to 'Reset', users_progress_path(current_user), method: :delete, class: 'button button--danger bg-red-600 !px-3 !py-2 text-sm font-semibold min-w-0 focus:ring-0 focus:ring-offset-0', data: { test_id: 'confirm-user-reset-progress-btn'} %>
      <button type="button" data-action="overlays--dialog#close" class="button button--secondary px-3 py-2 text-sm font-semibold min-w-0">Cancel</button>
    </div>
  <% end %>
</div>
