<%= title('All Paths') %>

<div class="page-container">
  <div class="max-w-4xl mx-auto">
    <h1 class="page-heading-title">All Paths</h1>

    <%= render CardComponent.new(classes: 'relative') do |card| %>
      <% card.with_header(classes: 'md:pb-6 md:border-b border-gray-200 dark:border-gray-600') do %>
        <div class=" flex justify-between items-center flex-col sm:flex-row space-y-4 sm:space-y-0">
          <div class="flex flex-col space-y-5 sm:space-x-6 sm:space-y-0 sm:flex-row items-center">
            <%= link_to path_path(@foundations), class: 'p-2 dark:bg-gray-700/50 rounded-full' do %>
              <%= image_tag @foundations.badge_uri, alt: @foundations.title, class: 'w-24 h-24' %>
            <% end %>
            <div class="flex items-center flex-col sm:block">
              <%= link_to path_path(@foundations), class: 'no-underline' do %>
                <h2 class="text-3xl font-medium text-gray-800 dark:text-gray-300">Foundations</h2>
              <% end %>
            </div>
            <% if current_user.present? && current_user.on_path?(@foundations) %>
              <div class="absolute top-3.5 right-3.5 mt-0! md:static">
                <%= render Ui::BadgeComponent.new(color: 'green') do %>
                  Selected
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="space-x-6 justify-center hidden md:flex">
            <%= render Paths::SelectButtonComponent.new(current_user:, path: @foundations, classes: 'px-12') %>
            <%= render Paths::ViewButtonComponent.new(current_user:, path: @foundations, classes: 'px-12') %>
          </div>
        </div>
      <% end %>

      <% card.with_body(classes: 'pt-6 md:pb-0') do %>
        <p class="prose prose-gray max-w-none text-gray-500 dark:text-gray-400"><%= @foundations.description %></p>
      <% end %>

      <% card.with_footer do |card| %>
        <div class="flex space-x-6 justify-center sm:items-center sm:justify-start md:hidden">
          <%= render Paths::SelectButtonComponent.new(current_user:, path: @foundations, classes: 'px-10') %>
          <%= render Paths::ViewButtonComponent.new(current_user:, path: @foundations, classes: 'px-10') %>
        </div>
      <% end %>
    <% end %>

    <div class="relative my-12">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="px-3 bg-gray-50 dark:bg-gray-900 text-2xl font-medium text-gray-800 dark:text-gray-300"> Then choose a learning path:</span>
      </div>
    </div>

    <div class="flex gap-x-10 gap-y-6 flex-col md:flex-row">
      <% @fullstack_paths.each do |path| %>

        <%= render CardComponent.new(classes: 'flex flex-col relative') do |card| %>
          <% card.with_header(classes: 'flex flex-col justify-between items-center') do %>
            <div class="absolute top-3.5 right-3.5">
              <% if current_user.present? && current_user.on_path?(path) %>
                <%= render Ui::BadgeComponent.new(color: 'green') do %>
                  Selected
                <% end %>
              <% end %>
            </div>
            <%= link_to path_path(path), class: 'p-2 dark:bg-gray-700/50 rounded-full' do %>
              <%= image_tag path.badge_uri, alt: path.title, class: 'w-24 h-24' %>
            <% end %>

            <div class="w-full flex justify-between pt-6">
              <p class="text-gray-500">PATH</p>
              <p class=" text-gray-500 dark:text-gray-400"><%= path.courses.size %> Courses</p>
            </div>
          <% end %>

          <% card.with_body(classes: 'grow') do %>
            <%= link_to path_path(path), class: 'no-underline' do %>
              <h2 class="text-xl font-medium pb-4 text-gray-800 dark:text-gray-200">
                <%= path.title %>
              </h2>
            <% end %>

            <p class="prose prose-gray max-w-none text-gray-500 dark:text-gray-400">
              <%= path.description %>
            </p>
          <% end %>

          <% card.with_footer do %>
            <div class="flex space-x-6 items-center justify-center sm:justify-start">
              <%= render Paths::SelectButtonComponent.new(current_user:, path:, classes: 'px-10 lg:px-12') %>
              <%= render Paths::ViewButtonComponent.new(current_user:, path:, classes: 'px-10 lg:px-12') %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
