<%= title('About') %>

<div class="page-container">
  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-start-3 md:col-span-8">
      <div class="pb-20">
        <h1 class="page-heading-title">About The Odin Project</h1>
        <p class="prose max-w-none prose-gray dark:prose-invert">
          The Odin Project is one of those "What I wish I had when I was learning" resources. Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway.  This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.
        </p>
      </div>

      <h2 class="text-center text-gray-700 dark:text-gray-300 text-2xl mb-12">What you can expect at The Odin Project</h2>
      <%= render(AboutPage::BeliefComponent.with_collection(t('.beliefs'))) %>
    </div>
  </div>
</div>

<%= render 'static_pages/about/overview' %>

<div class="page-container" id="contact-us">
  <div class="flex p-8 items-center flex-col md:flex-row">
    <div class="flex-1 flex justify-center">
      <%= inline_svg 'about_page/odin-mascot.svg', alt: 'Odin Mascot', class: 'h-72' %>
    </div>

    <div class="flex-1 mt-8 md:mt-0 text-center">
      <h2 class="mb-4 font-bold text-2xl">Want to contact us?</h2>

      <p class="pb-8 max-w-md mx-auto dark:text-gray-400 text-gray-500">
        Connect with our friendly community on discord, a chat and networking platform or <a href="mailto:theodinprojectcontact@gmail.com" class="underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300">send us an email</a>.
      </p>

      <%= link_to 'Chat on Discord', ODIN_CHAT_URL, class: 'button button--secondary px-4', target: '_blank', rel: 'noreferrer' %>
    </div>
  </div>
</div>

<div class="bg-gray-50 dark:bg-gray-900 my-16">
  <div class="max-w-2xl mx-auto text-lg text-center">
    If you want to give back to our community, you can do so by contributing to our open source projects, or by supporting us financially.
    <div class="flex justify-center space-x-4 mt-4 mb-8">
      <a href="/contributing" class="button button--primary">Contribute</a>
      <a href="/support_us" class="button button--primary">Donate</a>
    </div>
  </div>
</div>
