<%= title('Contributing') %>

<section class='page-container'>
  <div class='grid grid-cols-12'>
    <div class='col-span-12 md:col-start-3 md:col-span-8 space-y-8'>
      <div class='text-center'>
        <h1 class='page-heading-title'>How to Contribute</h1>
        <p class='max-w-prose mx-auto prose prose-gray dark:prose-invert text-gray-500 dark:text-gray-400'>
          The Odin Project is an Open Source project, built and maintained by volunteers who dedicate their time
          and skills to making The Odin Project one of the best free education platforms on the web. We are always
          working on projects to improve Odin and are always looking for people who want to join our growing team
          of maintainers.
        </p>
        <p class='max-w-prose mx-auto mt-4 prose prose-gray text-sm italic dark:prose-invert text-gray-500 dark:text-gray-400'>
          If you are interested in supporting us financially, you can learn about that on <%= link_to 'our support page.', support_us_path %>
        </p>
      </div>

      <%= render 'static_pages/contributing/contributing_options' %>
    </div>
  </div>
</section>

<section class='bg-gray-100 dark:bg-gray-800'>
  <div class='page-container'>
    <div class='grid grid-cols-12'>
      <div class='col-span-12 md:col-start-3 md:col-span-8'>
        <h2 class='font-bold text-center mb-16 text-2xl'>Why you should get involved</h2>
        <%= render(AboutPage::BeliefComponent.with_collection(t('.benefits'))) %>
      </div>
    </div>
  </div>
</section>

<%= render 'static_pages/contributing/hall_of_fame' %>
