<%= title('Success Stories') %>

<div class="page-container">
  <h1 class="page-heading-title">Success Stories</h1>

  <div class="max-w-5xl mx-auto">

    <% @success_stories.each do |story| %>
      <%= render CardComponent.new(classes: 'mb-10') do |card| %>
        <% card.with_header do %>
          <div class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-4">
            <div class="w-20 h-20 rounded-full overflow-hidden">
              <%= image_tag "success_stories/#{story.avatar_path_name}", alt: "#{story.student_name}'s avatar", class: 'w-full shadow-inner aspect-auto' %>
            </div>
            <div class="flex flex-col text-center sm:text-left">
              <p class="font-bold"><%= link_to story.student_name, story.social_media_link, class: 'underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-200 dark:hover:text-gray-300' %></p>
              <p class="text-gray-500 dark:text-gray-400"><%= story.job_title %></p>
            </div>
          </div>
        <% end %>
        <% card.with_body do %>
          <div class="prose prose-gray dark:prose-invert max-w-none dark:antialiased"><%= story.story_content.html_safe %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= render 'shared/bottom_cta',
    button: sign_up_or_view_curriculum_button,
    heading: 'Start learning for free now!',
    sub_heading: '' %>
</div>
