<div class="section-lessons">
  <% lessons.each_with_index do |lesson, lesson_index| %>
    <div class="section-lessons__item">
    <% if lesson.content.include?('<h3 id="learning-outcomes">') %>
      <p class='show_learning_outcomes' style='color:lime' id='<%= "p_" + numbered_lesson_title(lesson,lesson_index) %>'>+</p>
    <% end %>
      <%= link_to course_lesson_path(course, lesson), class: 'section-lessons__item__link' do %>
        <%= numbered_lesson_title(lesson, lesson_index) %>
        <% if lesson.content.include?('<h3 id="learning-outcomes">') %>
          <% learning_outcomes = lesson.content.split('<h3 id="learning-outcomes">') %>
          <% learning_outcomes = learning_outcomes[1] %>
          <% learning_outcomes = learning_outcomes.to_s.split(/<h3 id=/) %>
          <% learning_outcomes = '<h3 id="learning-outcomes">' + learning_outcomes[0] %>
          <% learning_outcomes.gsub! '<summary>', '<summary style="color:black; font-size:14px">' %>
          <% learning_outcomes.gsub! '<ul>', '<ul style="color:black; font-size:14px">' %>
          <% learning_outcomes.gsub! '<li>', '<li><p style="color:black; font-size:14px">' %>
          <% learning_outcomes.gsub! '</li>', '</p></li>' %>  
          <div id='<%= "div_" + numbered_lesson_title(lesson,lesson_index) %>' style='display:none'>
            <%= learning_outcomes.html_safe %>
          </div>
        <% end %>       
      <% end %>

      <% if user_signed_in? %>
        <div id="section-lessons__<%= lesson.id %>">
          <%= render 'courses/course/lesson_completion_button', lesson: lesson, user: current_user %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>

<script>  
  elements = document.getElementsByClassName('show_learning_outcomes')
  for(let i=0;i<elements.length;++i){
    elements[i].onclick = (event) => { 
      id = event.target.id; 
      id = id.replace("p","div");
      el = document.getElementById(id);
      el.style.display = 'block';
    }  
  }
</script>
