<div data-turbo="true" id="complete-button">
  <% if lesson.completed? %>
    <%= button_to lesson_completion_path(lesson.id), form_class: 'w-full h-full', method: :delete, data: { test_id: 'complete-button' }, class: 'button button--primary h-[54px] sm:h-full w-full md:w-60' do %>
      <span class="flex items-center <%= 'fade-in-down' if animate %>">
        <%= inline_svg_tag 'icons/checkmark-circle-solid.svg', class: 'h-6 pr-2', aria: true, title: 'check', desc: 'checkmark icon' %>
        <span class="">Lesson Completed</span>
      </span>
    <% end %>
  <% else %>
    <%= button_to lesson_completion_path(lesson.id), form_class: 'w-full h-full', data: { test_id: 'complete-button' }, class: 'button button--primary h-[54px] sm:h-full w-full md:w-60' do %>
      <span class="<%= 'fade-in-up' if animate %>"> Mark Complete </span>
    <% end %>
  <% end %>
</div>
