<div class="relative bg-gray-100 border-b border-gray-200 dark:bg-gray-700 dark:border-gray-600" data-controller="announcement" data-announcement-expires-at-value="<%= announcement.expires_at.to_datetime %>" data-announcement-id-value="<%= announcement.id %>">
  <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
    <div class="pr-16 sm:px-16 sm:text-center">
      <div class="font-medium text-gray-700 dark:text-gray-100 align-baseline flex flex-col justify-center items-start sm:flex-row sm:items-center">
        <span class="hidden items-center rounded bg-green-100 px-2 py-0.5 text-xs font-medium text-green-800 mr-2 sm:inline-flex">New!</span>
        <p><%= announcement.message %></p>
        <% if announcement.learn_more_url.present? %>
          <p class="block sm:ml-2 sm:inline-block">
            <a href="<%= announcement.learn_more_url %>" class="font-bold underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300">
              Learn more
              <span aria-hidden="true"> &rarr;</span>
            </a>
          </p>
        <% end %>
      </div>
    </div>
    <div class="absolute inset-y-0 right-0 flex items-start pt-1 pr-1 sm:items-start sm:pt-1 sm:pr-2">
      <button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-white" data-action="click->announcement#dismiss">
        <span class="sr-only">Dismiss</span>
        <%= inline_svg_tag 'icons/x.svg', class: 'h-6 w-6 text-gray-600 dark:text-gray-300', aria: true, title: 'dismiss', desc: 'dismiss icon' %>
      </button>
    </div>
  </div>
</div>
