<div class="bg-white overflow-hidden shadow rounded-lg dark:bg-slate-800 dark:ring-1 dark:ring-white/10 dark:ring-inset <%= classes %>" <%= data_attributes %>>
  <%= header %>
  <%= body %>
  <%= footer %>
</div>

