<div id='<%= id %>' class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset <%= classes %>" <%= html_data_attributes_for(data_attributes) %>>
  <%= header %>
  <%= body %>
  <%= footer %>
</div>
