<%= form_with url: admin_v2_flag_path(flag), method: :put, data: { controller: 'option-selector' } do |form| %>
  <div class="flex gap-x-3 items-center">
     <%= form.button 'Cancel', type: 'reset', data: { action: 'option-selector#reset', option_selector_target: 'resetButton' }, class: 'button button--secondary p-2 hidden font-semibold' %>

    <label id="listbox-label" class="sr-only">Action flag</label>
    <div class="relative" data-controller="visibility" data-action="visibility:click:outside->visibility#off">

      <div class="inline-flex divide-x divide-teal-800 rounded-md shadow-sm">
        <%= form.button disabled: true, data: { option_selector_target: 'button' }, class: 'inline-flex rounded-l-md bg-teal-700 px-3 py-2 text-white shadow-sm' do %>

          <p class="text-sm font-semibold" data-option-selector-target="buttonText"><%= flag.taken_action.capitalize %></p>
        <% end %>

        <button data-action="click->visibility#toggle" type="button" class="inline-flex items-center rounded-l-none rounded-r-md bg-teal-700 p-2 hover:bg-teal-800 focus:outline-none" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="sr-only">Action the flag</span>
          <%= inline_svg_tag 'icons/chevron-down.svg', class: 'h-5 w-5 text-white', aria: true %>
        </button>
      </div>

      <ul data-visibility-target="content" class="absolute hidden sm:right-0 z-10 mt-2 w-72 origin-top-right divide-y divide-gray-200 overflow-hidden rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-0">
        <% t('flag_actions').each do |flag_action| %>
          <li class="text-gray-900 cursor-pointer hover:bg-gray-50 p-4 text-sm group" data-option-selector-target="option" data-name="<%= flag_action[:name] %>" data-action="click->option-selector#select" id="listbox-option-0" role="option">
            <%= form.radio_button :action_taken, flag_action[:value], class: 'hidden' %>

            <%= form.label :"action_taken_#{flag_action[:value]}", class: 'cursor-pointer' do %>
              <div class="flex flex-col">
                <div class="flex justify-between">
                  <p class="font-normal group-data-[selected=true]:font-semibold"><%= flag_action[:name] %></p>
                  <span class="text-teal-700 hidden group-data-[selected=true]:block">
                    <%= inline_svg_tag 'icons/check.svg', class: 'h-5 w-5', aria: true %>
                  </span>
                </div>

                <p class="text-gray-500 mt-2"><%= flag_action[:description] %></p>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
