<div class="max-w-5xl w-full mx-auto">
  <%= render Ui::BackLinkComponent.new(path: admin_v2_flags_path, name: 'Flags') %>

  <div class="flex mt-8 items-center justify-between">
    <div>
      <h1 class="text-xl font-semibold leading-6 text-gray-800 dark:text-gray-300">Flag #<%= @flag.id %></h1>
      <div class="pt-3 flex gap-x-2" data-test-id="flag-status">
        <%= render Ui::BadgeComponent.new(color: @flag.resolved? ? 'green' : 'yellow') do %>
          <%= @flag.status.capitalize %>
        <% end %>

        <% if @flag.resolved? %>
          <%= render Ui::BadgeComponent.new(color: 'gray') do %>
            <%= @flag.action_taken.past_tense %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= render Flags::ActionButtonComponent.new(flag: @flag) %>
  </div>

  <div>
    <div class="mt-6 border-t border-gray-100 dark:border-gray-800">
      <dl class="divide-y divide-gray-100 dark:divide-gray-800">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-800 dark:text-gray-300">Reason</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-2 sm:mt-0"><%= Flag::REASONS.find { |reason| reason.name.to_s == @flag.reason }&.description %></dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-800 dark:text-gray-300">Extra information</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-2 sm:mt-0"><%= @flag.extra %></dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-800 dark:text-gray-300">Project submission repo</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-2 sm:mt-0">
            <%= link_to @flag.project_submission.repo_url, @flag.project_submission.repo_url, class: 'text-blue-600 underline hover:text-blue-500 dark:text-blue-400 dark:hover:text-blue-300' %>
          </dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-800 dark:text-gray-300">Project submission live preview</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-2 sm:mt-0">
            <%= link_to @flag.project_submission.live_preview_url, @flag.project_submission.live_preview_url, class: 'text-blue-600 underline hover:text-blue-500 dark:text-blue-400 dark:hover:text-blue-300' %>
          </dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-800 dark:text-gray-300">Project</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-2 sm:mt-0"><%= link_to @flag.project_submission.lesson.title, lesson_path(@flag.project_submission.lesson), class: 'text-blue-600 underline hover:text-blue-500 dark:text-blue-400 dark:hover:text-blue-300' %></dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-800 dark:text-gray-300">Who owns the project submission?</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-2 sm:mt-0"><%= @flag.project_submission.user.username %></dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-800 dark:text-gray-300">Who created the flag?</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-300 sm:col-span-2 sm:mt-0"><%= @flag.flagger.username %></dd>
        </div>
      </dl>
    </div>
  </div>
</div>
