<div class="max-w-4xl">

  <div class="sm:flex items-center justify-between">
    <div class="sm:flex-auto flex gap-x-2">
      <h1 class="text-xl font-semibold leading-6 text-gray-900">Flag #<%= @flag.id %></h1>
      <span>&middot</span>
      <span>
        <%= render Ui::BadgeComponent.new(color: @flag.resolved? ? 'green' : 'yellow') do %>
          <%= @flag.status.capitalize %>
        <% end %>
      </span>
    </div>

    <div class="pt-2 sm:pt-0">
      <%= render 'admin_v2/flags/actions', flag: @flag %>
    </div>
  </div>

  <div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Reason</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= Flag::REASONS.find { |reason| reason.name.to_s == @flag.reason }&.description %></dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Extra information</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @flag.extra %></dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Project submission repo</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            <%= link_to @flag.project_submission.repo_url, @flag.project_submission.repo_url, class: 'text-blue-600 underline hover:text-blue-500' %>
          </dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Project submission live preview</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            <%= link_to @flag.project_submission.live_preview_url, @flag.project_submission.live_preview_url, class: 'text-blue-600 underline hover:text-blue-500' %>
          </dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Project</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= link_to @flag.project_submission.lesson.title, lesson_path(@flag.project_submission.lesson), class: 'text-blue-600 underline hover:text-blue-500' %></dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Who owns the project submission?</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @flag.project_submission.user.username %></dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Who created the flag?</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @flag.flagger.username %></dd>
        </div>
      </dl>
    </div>
  </div>
</div>
