<%= form_with url: admin_v2_flag_path(flag), method: :put do |form| %>
  <div class="flex gap-x-3 items-center">
    <label id="listbox-label" class="sr-only">Resolve flag</label>
    <div class="relative" data-controller="visibility" data-action="visibility:click:outside->visibility#off">

      <%= form.button type: 'button', data: { action: 'click->visibility#toggle' }, class: 'inline-flex button button--primary px-2 py-1.5' do %>
        <span class="text-sm font-semibold pr-1">Resolve flag</span>
         <%= inline_svg_tag 'icons/chevron-down.svg', class: 'h-5 w-5 text-white', aria: true %>
      <% end %>

      <ul data-controller="disable" data-visibility-target="content" class="absolute hidden right-0 z-10 mt-2 sm:w-[500px] origin-top-right divide-y divide-gray-200 overflow-hidden rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-gray-800" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-0">
        <div class="divide-y divide-gray-200 dark:divide-gray-600 space-y-6">
          <div class="space-y-4 px-4 pt-6">
            <% Flags::Action.each do |flag_action| %>
              <div class="relative flex items-start">
                <div class="absolute flex h-6 items-center">
                  <%= form.radio_button :action_taken, flag_action.value, class: 'h-4 w-4 border-gray-300 dark:border-gray-500 dark:bg-gray-700/50 dark:checked:bg-gold-600 dark:checked:border-gold-600 dark:focus:ring-offset-gray-800 text-gold-600 focus:ring-gold-600', data: { action: 'click->disable#enable' } %>
                </div>

                <div class="pl-7 text-sm leading-6">
                  <%= form.label :"action_taken_#{flag_action.value}", flag_action.name, class: 'font-semibold text-gray-800 dark:text-gray-200' %>
                  <p class="text-gray-500 dark:text-gray-400 text-xs"><%= flag_action.description %></p>
                </div>
              </div>
            <% end %>
          </div>

          <div class="p-4 flex flex-row-reverse gap-3">
             <%= form.button 'Submit', disabled: true, type: 'submit', data: { disable_target: 'element' }, class: 'button button--primary p-1.5 font-semibold disabled:button--gray disabled:p-1.5 disabled:hover:bg-gray-200 disabled:cursor-default' %>
             <%= form.button 'Cancel', type: 'reset', data: { action: 'click->disable#disable click->visibility#off' }, class: 'button button--secondary p-1.5 font-semibold' %>
          </div>
        </div>
      </ul>
    </div>
  </div>
<% end %>
