<div class="max-w-5xl w-full mx-auto">
  <div class="sm:flex-auto">
    <h1 class="text-xl font-semibold leading-6 text-gray-800 dark:text-gray-300">Lesson completions</h1>
    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Total lesson completions for all lessons.</p>
  </div>

  <div class="flex flex-col sm:flex-row justify-between mt-6 sm:items-center">
    <%= form_with url: admin_v2_reports_lesson_completions_path, method: :get, data: { controller: 'autosubmit', action: 'input->autosubmit#debouncedSubmit' } do |form| %>
      <%= form.hidden_field :period, value: params[:period] if params[:period].present? %>

      <div class="flex gap-x-2 items-center">
        <%= render Forms::DatePickerComponent.new(name: :start, value: @start, min: @earliest, max: @end) %>
         <span class="mt-2">-</span>
        <%= render Forms::DatePickerComponent.new(name: :end, value: @end, min: @start, max: @latest) %>
      </div>
    <% end %>

    <span class="isolate inline-flex rounded-md space-x-2 mt-6 sm:mt-0">
      <% %w[day month].each do |period| %>
        <%= link_to(
              period.capitalize,
              request.params.merge(period:),
              class: [
                'relative inline-flex items-center rounded-md px-3 py-1.5 text-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10 dark:text-gray-300 dark:ring-gray-700 dark:hover:bg-gray-700',
                'text-gray-800 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': params.fetch(:period, 'day') == period
              ]
            ) %>
      <% end %>
    </span>
  </div>
  <%= turbo_frame_tag 'lesson_completion_stats', class: 'block mt-4 h-80' do %>
    <%= render Charts::LineChartComponent.new(
          labels: @lesson_completions_stats.keys.map { |date| date.to_fs(:"graph_#{params.fetch(:period, 'day')}") },
          datasets: [
            {
              label: 'Lesson completions',
              data: @lesson_completions_stats.values,
              fill: true,
              backgroundColor: 'emerald-200',
              borderColor: 'emerald-700',
              borderWidth: '2',
              radius: '3',
              pointBorderColor: 'emerald-700',
              pointBorderWidth: '2',
              pointHoverRadius: '3',
              pointHoverBackgroundColor: 'emerald-700'
            }
          ],
        ) %>
  <% end %>
</div>
