<%= title('Interview Survey') %>

<div>
  <div class="page-container">
    <h1 class="page-heading-title">Interview Survey</h1>

    <%= form_with model: @interview_survey, builder: TailwindFormBuilder do |form| %>
      <%= form.label :interview_date %>
      <%= form.date_field :interview_date %>

      <%= form.label :interview_concept_names %>
      <%= form.select :interview_concept_names,
        InterviewConcept.pluck(:name, :name),
        { multiple: true },
        { data: { controller: 'multi-select' } } %>

      <%= form.submit 'Submit', class: 'button button--primary w-full text-sm' %>
    <% end %>

  </div>
</div>
