<%= title('Interview Survey') %>

<div>
  <div class="page-container">
    <h1 class="page-heading-title">Interview Survey</h1>

    <%= form_with model: @interview_survey, builder: TailwindFormBuilder do |form| %>
      <%= form.label :interview_date %>
      <%= form.date_field :interview_date %>

      <%= form.label :interview_concepts %>
      <%= form.select :interview_concepts,
        InterviewConcept.all.map { |concept| [concept.name, concept.id] }
      %>
    <% end %>

  </div>
</div>
