<%= title('Markdown preview Tool') %>

<div class="bg-white dark:bg-gray-900">
  <div class="page-container">
    <div class="max-w-4xl mx-auto">
      <h1 class="page-heading-title text-left pb-4">Markdown preview tool</h1>
      <p class="mb-6 text-gray-500">Paste markdown here to check how it will look on the website!</p>

      <div>
        <div data-controller='tabs share-preview' data-share-preview-url-value="<%= lessons_preview_share_path(format: :turbo_stream) %>" data-tabs-index='0' data-tabs-active-class="text-gray-700 bg-gray-300/50 hover:bg-gray-300 dark:bg-gray-700/90" data-tabs-inactive-class="hidden">
          <div class="flex justify-between">
            <div class="flex items-center mb-3">
              <button data-action="tabs#change" class="text-gray-600 bg-gray-300/50 hover:text-gray-800 hover:bg-gray-200 dark:bg-gray-700/40 dark:text-gray-300 dark:hover:text-gray-200 dark:hover:bg-gray-600 rounded-md border border-transparent px-3 py-1.5 font-medium cursor-pointer focus:outline-none" data-tabs-target='tab'>
                Write
              </button>
              <button data-action="tabs#change" class="ml-2 text-gray-600 hover:text-gray-800 hover:bg-gray-200 dark:bg-gray-700/40 dark:text-gray-300 dark:hover:text-gray-200 dark:hover:bg-gray-600 rounded-md border border-transparent px-3 py-1.5 font-medium cursor-pointer focus:outline-none" data-tabs-target='tab'>
                Preview
              </button>
            </div>
            <div class="flex items-center mb-3">
              <%= button_to '#', class: 'hidden button button--secondary py-2 px-3', method: :get, data: { share_preview_target: 'button', action: 'share-preview#share' } do %>
                <%= inline_svg_tag 'icons/share.svg', class: 'h-3 w-3 mr-2', aria: true, title: 'share', desc: 'share icon' %>
                Share
              <% end %>
              <%= button_to lessons_preview_path, class: 'button button--secondary py-2 px-3 ml-2', method: :get do %>
                <%= inline_svg_tag 'icons/trash.svg', class: 'h-3 w-3 mr-2', aria: true, title: 'clear', desc: 'clear icon' %>
                Clear
              <% end %>
            </div>
          </div>

          <div data-tabs-target="panel" class="mx-auto">
            <%= form_with url: lessons_preview_path, data: { controller: 'autosubmit', action: 'input->autosubmit#debouncedSubmit' } do |form| %>
              <%= form.text_area :markdown, value: @preview.content, autofocus: true, maxlength: 70_000, placeholder: 'Enter markdown here...', data: { share_preview_target: 'input' }, class: 'w-full min-h-screen block rounded-md border-gray-300 dark:bg-gray-700/60 dark:focus:ring-2 dark:placeholder-gray-400 dark:border-gray-500 dark:focus:ring-gray-500 shadow-sm focus:border-blue-500 focus:ring-blue-500' %>
            <% end %>
          </div>

          <div data-tabs-target="panel" class="min-h-screen">
          <%= render 'lessons/previews/markdown_preview', markdown: @preview.content %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
