<%
nav_links = [
  { name: 'Dashboard', path: admin_root_path, icon: 'home' },
  { name: 'Learners', path: admin_learners_path, icon: 'users' },
  { name: 'Flags', path: admin_flags_path, icon: 'flag-outline' },
  { name: 'Announcements', path: admin_announcements_path, icon: 'megaphone' },
  { name: 'Team', path: admin_team_path, icon: 'user-group' },
  {
    name: 'Analytics', icon: 'chart-bar', nested_nav_links: [
      { name: 'Lesson completions', path: admin_reports_lesson_completions_path },
      { name: 'Users', path: admin_reports_users_path },
    ].concat(Path.order_by_position.flat_map { |path| { name: "#{path.title} path", path: admin_reports_path_path(path) } })
  },
  {
    name: 'Tools', icon: 'wrench-screwdriver', nested_nav_links: [
      { name: 'Sidekiq', path: admin_sidekiq_web_path },
      { name: 'Feature flags', path: admin_feature_flags_path },
    ]
  }
]
%>

<%= render Overlays::DrawerComponent.new(hook_class: 'off-canvas-menu', close_label: 'Close sidebar', aria_label: 'Admin navigation') do %>
  <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white dark:bg-gray-800 px-6 pb-4">
    <div class="flex h-16 shrink-0 items-center">
      <%= render LogoComponent.new(classes: 'block h-10 w-auto', path: admin_root_path) %>
    </div>

    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <%= render 'layouts/admin/nav_links', nav_links: %>

        <li class="mt-auto">
          <%= link_to '#', class: 'group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-200 hover:text-gray-800 dark:text-gray-300 dark:hover:bg-gray-800 dark:hover:text-gray-200' do %>
            <%= inline_svg_tag 'icons/gear.svg', class: 'h-5 w-5 shrink-0 text-gray-500 group-hover:text-gray-800 dark:text-gray-400 dark:group-hover:text-gray-200' %>
            Settings
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
<% end %>

<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-30 lg:flex lg:w-72 lg:flex-col">
  <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-gray-50 dark:bg-gray-900 dark:border-gray-800 px-6 pb-4 pt-4">
    <div class="flex h-12 shrink-0 items-center">
      <%= render LogoComponent.new(classes: 'block h-12 w-auto', path: admin_root_path) %>
    </div>

    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <%= render 'layouts/admin/nav_links', nav_links: %>

        <li class="mt-auto">
          <%= link_to edit_admin_profile_path, class: 'group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-200 hover:text-gray-800 dark:text-gray-300 dark:hover:bg-gray-800 dark:hover:text-gray-200' do %>
            <%= inline_svg_tag 'icons/gear.svg', class: 'h-5 w-5 shrink-0 text-gray-500 group-hover:text-gray-800 dark:text-gray-400 dark:group-hover:text-gray-200' %>
            Settings
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>
