<div class="flex justify-between items-center flex-shrink-1 group hover:bg-gray-100 dark:hover:bg-gray-700 px-2 rounded-lg transition ease-in-out  hover:transition-colors">
  <%= link_to lesson_url(lesson), class: 'grow py-3' do %>
    <div class="flex items-center gap-3">
      <%= inline_svg "icons/#{icon}.svg", alt: 'lesson icon', class: 'w-6 dark:text-gray-500 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-400 shrink-0', title: icon_title %>

      <p class="text-gray-800 dark:text-gray-300"><%= lesson.display_title %></p>
      <% if lesson.recently_added? %>
          <%= render Ui::BadgeComponent.new(color: 'green') do %>
            new
          <% end %>
        <% end %>
    </div>
  <% end %>

  <%= render Complete::IconComponent.new(lesson:, current_user:) %>
</div>
