<div class="flex items-center justify-between flex-col py-8 text-center border-b dark:border-gray-600 md:flex-row md:text-left">
  <div class="flex items-center flex-col md:flex-row gap-6">
    <div class=''>
      <%= render Progress::BadgeComponent.new(
            course: course.learnable,
            current_user:,
            url: courses_progress_path(course.learnable.id),
            show_badge: false,
            size: :small,
            path: current_user.path
          ) %>
    </div>

    <div>
      <%= link_to path_course_url(current_user.path, course.learnable) do %>
        <h3 class="text-gray-700 font-medium text-lg mb-0 dark:text-gray-300"><%= course.learnable.title %></h3>
      <% end %>
      <p class="text-sm text-gray-500 dark:text-gray-400"><%= course.learnable.lessons.size %> lessons</p>
    </div>
  </div>

  <div class="pt-4 md:pt-0">
    <%= render Dashboard::CourseButtonComponent.new(course_step: course, current_user: current_user) %>
  </div>
</div>
