<div class="flex items-center justify-between flex-col py-8 text-center border-b dark:border-gray-600 md:flex-row md:text-left">
  <div class="flex items-center flex-col md:flex-row gap-6">
    <div>
      <%= render Course::BadgeComponent.new(course:, options: { size: :small, show_badge: false }) %>
    </div>

    <div>
      <%= link_to path_course_url(course.path, course) do %>
        <h3 class="text-gray-700 font-medium text-lg mb-0 dark:text-gray-300"><%= course.title %></h3>
      <% end %>
      
       <div class="flex space-x-3 mt-2 sm:mt-1.5 text-gray-500 dark:text-gray-400">
         <div class="flex items-center space-x-1">
            <%= inline_svg 'icons/book.svg', alt: 'lesson icon', class: 'w-5 h-5' %>

            <p class="text-sm"><%= pluralize(course.lessons_count, 'Lesson') %></p>
          </div>
          <div class="flex items-center space-x-1">
            <%= inline_svg 'icons/wrench-screwdriver.svg', alt: 'lesson icon', class: 'w-5 h-5' %>

            <p class="text-sm"><%= pluralize(course.projects_count, 'Project') %></p>
          </div>
        </div>
    </div>
  </div>

  <div class="pt-4 md:pt-0">
    <% if course_completed_by_user?(course, current_user) %>
      <%= link_to 'Open', path_course_path(course.path, course), class: 'button button--secondary button--medium', data: { test_id: "#{course.title.downcase}-open-btn" } %>
    <% elsif current_user.started_course?(course) %>
      <%= link_to 'Resume',
        lesson_url(next_lesson_to_complete(course, current_user.lesson_completions_for_course(course))),
        class: 'button button--secondary button--medium',
        data: { test_id: "#{course.title.downcase}-resume-btn" } %>
    <% else %>
      <%= link_to 'Start', path_course_url(course.path, course), class: 'button button--secondary button--medium', data: {
            test_id: "#{course.title.downcase}-start-btn"
          } %>
    <% end %>
  </div>
</div>
