<%= title('Dashboard') %>

<div class="page-container">
  <div class="max-w-3xl mx-auto">
    <h1 class="page-heading-title">Dashboard</h1>
    <%= render CardComponent.new(classes: 'mb-16') do |card| %>
      <% card.with_body do %>
        <div class="flex items-center flex-col md:flex-row gap-4">
          <%= render User::AvatarComponent.new(current_user:, classes: 'w-20') %>
          <h2 class="truncate w-full basis-2/5 text-xl text-center md:text-left md:pl-4 font-medium text-gray-700 dark:text-gray-300" data-test-id="profile_username"><%= current_user.username %></h2>
          <%= render User::LearningGoalComponent.new(current_user:) %>
        </div>
      <% end %>
    <% end %>

    <div class="mb-24" data-test-id="skills">
      <div class="text-center mt-0 mb-6 mx-auto">
        <h2 class="text-gray-700 text-2xl font-medium mb-2 dark:text-gray-300">Skills Progress</h2>
        <% if current_user.path.courses.size > 1 %>
          <p class="text-gray-500 dark:text-gray-400">The following courses should be taken in order</p>
        <% end %>
      </div>

      <%= render partial: 'skill', collection: @courses, as: :course %>
    </div>

    <%= render 'project_submissions', project_submissions: @project_submissions %>
  </div>

  <%= render 'shared/bottom_cta',
      button: chat_button,
      heading: 'Have a question?',
      sub_heading: 'Chat with our friendly Odin community in our Discord chatrooms!' %>
</div>
