<%= title('Dashboard') %>

<div class="container tmp-container-spacer">
  <div class="grid grid-cols-12">
    <div class= 'col-span-12 md:col-span-8 md:col-start-3'>
      <h1 class="page-heading-title">Dashboard</h1>

      <%= render CardComponent.new(classes: 'mb-24 odin-dark-bg-accent') do |card| %>
        <% card.body do %>
          <div class="flex items-center">
            <%= render User::AvatarComponent.new(current_user: current_user, classes: ' w-24') %>
            <h2 class="basis-3/5 text-2xl pl-4" data-test-id="profile_username"><%= current_user.username %></h2>
            <p data-test-id='learning_goal'><%= display_dashboard_learning_goal(current_user).html_safe %></p>
          </div>
        <% end %>
      <% end %>

      <div class="mb-24">
        <div class="text-center mt-0 mb-12 mx-auto">
          <h2 class="font-bold text-gray-500 text-2xl mb-8">Skills Progress</h2>
          <% if current_user.path.courses.size > 1 %>
            <p>
              The following courses should be taken in order
            </p>
          <% end %>
        </div>

        <%= render partial: 'skill', collection: @courses, as: :course %>
      </div>

      <%= render 'project_submissions', project_submissions: current_user.project_submissions %>
    </div>
  </div>

   <%= render 'shared/bottom_cta',
      button: chat_button,
      heading: 'Have a question?',
      sub_heading: 'Chat with our friendly Odin community in our Discord chatrooms!'
    %>
</div>
