<div class="unsubscriptions-controller">
  <h1> Unsubscribe from Email Lists </h1>
  <div class="email-categories">
    <%= form_tag('/unsubscribe', method: 'post') do %>
      <div>
        <%= label_tag(:email_address) %>
        <%= text_field_tag(:email_address) %>
      </div>
      <p> Unsubscribe from: </p>
      <br>
      <% @categories.each do |c| %>
        <div class="checkbox">
          <%= check_box_tag("categories[#{c.name}]", value="#{c.id}") %>
          <%= label_tag("#{c.name}:    #{c.description}") %>
        </div>
      <% end %>
      <br>
      <div>
        <%= submit_tag("Submit") %>
      </div>
    <% end %>
  </div>
</div>