<div class="row">
  <h1> Unsubscribe from Email Lists </h1>

  <%= form_tag('/unsubscribe', method: 'post') do %>
    <div>
      <%= label_tag(:email_address) %>
      <%= text_field_tag(:email_address) %>
    </div>

    <p> Unsubscribe from: </p>

    <% @categories.each do |c| %>
      <div class="checkbox">
        <%= check_box_tag("categories[:#{c}]") %>
        <%= label_tag(c) %>
      </div>
    <% end %>

    <div class="checkbox">
      <%= check_box_tag("categories[:unsubscribe_all]") %>
      <%= label_tag(:all) %>
    </div>

    <div>
      <%= submit_tag("Submit") %>
    </div>
  <% end %>

</div>