<footer class="bg-white dark:bg-gray-900" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <% if not current_page?(support_us_path) and not current_page?(about_path) %>
  <div class="mx-auto max-w-3xl px-8 pt-8 pb-8 xs:pt-24 lg:px-8">
    <div class="flex flex-col sm:flex-row gap-8 :gap-4">
      <div class="flex-1">
        <h1 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Help us shape the future of tech education!</h1>
        <h2 class="text-sm text-gray-500 dark:text-gray-400">Join us in empowering learners around the globe by supporting The Odin Project!</h2>
        <a class="block prose-a text-blue-800 dark:text-blue-300 pt-4 font-semibold underline" href="/support_us">Learn more about supporting us.</a>
      </div>
      <div class="flex-shrink-0 flex items-center">
        <a class="button button--primary" href="https://opencollective.com/theodinproject/donate" target="_blank">
          Donate now!
        </a>
      </div>
    </div>
  </div>
  <% end %>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-8 sm:pt-12 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">

      <div class="space-y-6">
        <%= render LogoComponent.new(classes: 'block h-12 w-auto') %>
        <p class="text-sm leading-6 text-gray-600 dark:text-gray-300">
          High quality coding education maintained by an open source community.
        </p>

        <div class="flex space-x-6">
          <%= link_to 'https://github.com/TheOdinProject', class: 'text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400' do %>
            <span class="sr-only">GitHub</span>
            <%= inline_svg_tag 'socials/github.svg', class: 'h-6 w-6', aria: true, title: 'GitHub', desc: 'GitHub logo' %>
          <% end %>

          <%= link_to ODIN_CHAT_URL, class: 'text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400' do %>
            <span class="sr-only">Discord</span>
            <%= inline_svg_tag 'socials/discord.svg', class: 'h-6 w-6', aria: true, title: 'Discord', desc: 'Discord logo' %>
          <% end %>

          <%= link_to 'https://www.facebook.com/theodinproject/', class: 'text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400' do %>
            <span class="sr-only">Facebook</span>
            <%= inline_svg_tag 'socials/facebook.svg', class: 'h-6 w-6', aria: true, title: 'Facebook', desc: 'Facebook logo' %>
          <% end %>

          <%= link_to 'https://twitter.com/TheOdinProject', class: 'text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400' do %>
            <span class="sr-only">Twitter</span>
            <%= inline_svg_tag 'socials/twitter.svg', class: 'h-6 w-6', aria: true, title: 'Twitter', desc: 'Twitter logo' %>
          <% end %>
        </div>
      </div>

      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">About us</h3>
            <ul role="list" class="mt-4 space-y-3">
              <li><%= link_to 'About', about_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>
              <li><%= link_to 'Blog', ODIN_BLOG_URL, target: '_blank', rel: 'noreferrer', class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>
              <li><%= link_to 'Success Stories', success_stories_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>
            </ul>
          </div>

          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Support</h3>
            <ul role="list" class="mt-4 space-y-3">
              <li><%= link_to 'FAQ', faq_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white', data: { test_id: 'faq-link' } %></li>
              <li><%= link_to 'Contribute', contributing_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>
              <li><%= link_to 'Contact us', about_path(anchor: 'contact-us'), class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>

            </ul>
          </div>
        </div>

        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Guides</h3>
            <ul role="list" class="mt-4 space-y-3">
              <li><%= link_to 'Community guides', guides_community_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white', data: { test_id: 'faq-link' } %></li>
              <li><%= link_to 'Installation guides', guides_installations_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white', data: { test_id: 'faq-link' } %></li>
            </ul>
          </div>

          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Legal</h3>
            <ul role="list" class="mt-4 space-y-3">
              <li><%= link_to 'Terms', terms_of_use_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>
              <li><%= link_to 'Privacy', privacy_policy_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-gray-900/10 dark:border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-gray-600 dark:text-gray-300">&copy; <%= Time.current.year %> The Odin Project. All rights reserved.</p>
    </div>
  </div>
</footer>
