

<footer class="bg-white dark:bg-gray-900" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-8 sm:pt-12 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">

      <div class=" flex flex-col gap-y-6">
        <div>
          <img src="<%= asset_path('icons/datamonk.svg') %>" alt="Datamonk Logo" class="h-12 w-auto" />
        </div>
        <p class="text-sm leading-6 text-gray-600 dark:text-gray-300">
          High quality coding education maintained by industry professionals at datamonk.
        </p>

      </div>

      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">About us</h3>
            <ul role="list" class="mt-4 space-y-3">
              <li><%= link_to 'About', about_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>
              <li><%= link_to 'Success Stories', success_stories_path, class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>
            </ul>
          </div>

          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Support</h3>
            <ul role="list" class="mt-4 space-y-3">
              <li><%= link_to 'Contact us', about_path(anchor: 'contact-us'), class: 'text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white' %></li>

            </ul>
          </div>
        </div>

        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-gray-900/10 dark:border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-gray-600 dark:text-gray-300">&copy; <%= Time.current.year %> The Odin Project. All rights reserved.</p>
    </div>
  </div>
</footer>
