<%= render CardComponent.new(classes: 'mb-10') do |card| %>
  <% card.header(classes: 'border-b dark:border-gray-700 pb-6 pt-6') do %>
    <%= link_to  "##{section.title.parameterize}", id: section.title.parameterize, class: 'no-underline' do %>
      <h3 class="text-xl font-semibold pb-2 text-gray-700 anchor-link dark:text-gray-300">
        <%= section.title %>
      </h3>
    <% end %>
    <p class="text-gray-500 dark:text-gray-400 prose prose-gray max-w-none"><%= section.description %></p>
  <% end %>

  <% card.body do %>
    <div class="flex flex-col space-y-5" data-test-id="course-section">
      <% section.lessons.each_with_index do |lesson, lesson_index| %>
        <div class="flex text-2xl justify-between space-x-5 items-center flex-shrink-1">
          <%= render Lessons::TitleLinkComponent.new(lesson: lesson, lesson_number: lesson_index + 1)%>
          <%= render Complete::IconComponent.new(lesson: lesson, current_user: current_user) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
