<nav class="flex items-center justify-between border-t border-gray-200 dark:border-gray-800 py-3" aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700 dark:text-gray-300">
      Showing
      <span class="font-medium"><%= pagy.from %></span>
      to
      <span class="font-medium"><%= pagy.to %></span>
      of
      <span class="font-medium"><%= pagy.count %> </span>
      <%= resource_name %>
    </p>
  </div>

  <div class="flex flex-1 justify-between sm:justify-end">
    <%= link_to 'Previous', url_for(page: pagy.prev), class: 'relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0 dark:bg-gray-800 dark:ring-gray-700 dark:text-gray-300 dark:hover:bg-gray-700' if @pagy.prev.present? %>
    <%= link_to 'Next', request.params.merge(page: pagy.next), class: 'relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0 dark:bg-gray-800 dark:ring-gray-700 dark:text-gray-300 dark:hover:bg-gray-700' if @pagy.next.present? %>
  </div>
</nav>
