
  <div
    data-controller="progress"
    data-progress-percent-value="<%= percentage %>"
    data-test-id='progress-circle'
    class="inline-flex items-center justify-center group <%= yass(container_size: size) %>">

    <svg width="100%" height="100%" fill="none" class="overflow-visible z-20 transform-gpu">
      <circle
        class="text-gray-200 dark:text-gray-400"
        cx="50%"
        cy="50%"
        r="calc(50% - 5px)"
        stroke-width="6.5"
        stroke="currentColor"
        fill="none" />
      <circle
        class="text-teal-700 dark:text-teal-600 origin-center -rotate-90"
        data-progress-target="progressCircle"
        cx="50%"
        cy="50%"
        r="calc(50% - 5px)"
        stroke-width="7.5"
        stroke="currentColor"
        fill="transparent"
        stroke-dasharray="100 200"
        stroke-dashoffset="<%= 100 - percentage %>"
        stroke-linecap="round"
        pathLength="100" />
        </svg>


    <div class="z-10 absolute group-hover:opacity-0 rounded-full overflow-hidden <%= background_color %> <%= show_icon? %> <%= yass(icon: size) %>">
      <div class="<%= yass(icon_size: size) %>">
        <%= icon %>
      </div>
    </div>
    <span class="absolute">
      <span class="block transition-opacity delay-200 duration-500 ease-in-out text-gray-400 leading-5 break-words w-16 sm:w-20 text-center font-medium <%= yass(text: size) %>">
        <%= number_to_percentage(percentage, precision: 0) %> <span class="hidden sm:block">Complete</span>
      </span>
    </span>
  </div>
