<%= title('Installation Guides') %>

<div class="page-container min-h-screen">
  <h1 class="page-heading-title text-center">Installation Guides</h1>
  <section class="max-w-xl mx-auto space-y-5">
    <% @lessons.each do |lesson| %>
      <%= render CardComponent.new(classes: 'transistion dark:hover:bg-gray-700 hover:bg-gray-100') do |card| %>
        <% card.with_body(classes: 'p-0') do %>
          <%= link_to lesson_path(lesson), class: 'p-4 block' do %>
            <div class="flex items-center gap-3">
              <%= inline_svg 'icons/book.svg', alt: 'lesson icon', class: 'w-6 dark:text-gray-500 text-gray-400 shrink-0', title: 'Lesson' %>
                <p class="text-gray-600 dark:text-gray-300">
                  <%= lesson.display_title %>
                </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>
</div>
