<%= title(@lesson.display_title) %>

<div class="page-container">
 <div>
    <%= link_to lesson_path(@lesson, anchor: 'solutions'), class: 'inline-flex items-center pb-10 text-gray-600 text-base hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 gap-2' do %>
      <%= inline_svg_tag 'icons/arrow-left-circle.svg', class: '', aria: true, title: 'Back to lesson icon' %>
      Back to lesson
    <% end %>
  </div>
  <%= react_component(
        'project-submissions/index',
        {
          userId: current_user&.id,
          course: @lesson.course.as_json,
          lesson: @lesson.as_json,
          submissions: @project_submissions.map { |submission| ProjectSubmissionSerializer.as_json(submission, current_user) },
          userSubmission: @user_submission
        }
      ) %>
  <div class="text-center overflow-x-auto">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
