<%= form_with model: [:admin_v2, announcement], builder: TailwindFormBuilder do |form| %>
  <div class=" space-y-6 pt-4">
    <div>
      <%= form.label :message %>
      <%= form.text_area :message, autofocus: true, class: 'text-sm', data: { test_id: 'message-field' } %>
    </div>

    <div>
      <%= form.label :learn_more_url %>
      <%= form.text_field :learn_more_url, class: 'text-sm', data: { test_id: 'learn-more-url-field' } %>
    </div>

    <div>
      <%= form.label :expires_at %>
      <%= form.date_field :expires_at, class: 'text-sm', data: { test_id: 'expires-at-field' } %>
    </div>
  </div>

  <div class="mt-5 sm:flex sm:flex-row-reverse pt-4">
    <%= form.submit 'Save', class: 'cursor-pointer inline-flex w-full justify-center rounded-md button--primary px-5 py-2 text-sm font-semibold text-white shadow-sm sm:ml-3 sm:w-auto', data: { test_id: 'submit-btn' } %>
    <%= link_to 'Cancel', announcement.new_record? ? admin_v2_announcements_path : admin_v2_announcement_path(announcement), class: 'button--white mt-3 inline-flex w-full justify-center sm:mt-0 sm:w-auto' %>
  </div>
<% end %>
