<div class="flex flex-col gap-y-6 max-w-sm mx-auto md:grid md:grid-cols-3 md:gap-x-7 md:gap-y-0 md:max-w-full md:items-center">
  <% if course.previous_lesson(lesson).present? %>
    <div class="contents md:block md:justify-self-start">
      <%= link_to lesson_path(course.previous_lesson(lesson)), class: 'button button--secondary px-4 py-2 min-w-45 font-medium', data: { test_id: 'previous-lesson-btn' } do %>
        <%= inline_svg_tag 'icons/arrow-left-circle.svg', class: 'h-8 w-8 pr-2', aria: true, title: 'Previous lesson', desc: 'Go to previous lesson' %>
        Previous Lesson
      <% end %>
    </div>
  <% else %>
    <div class="hidden md:block" aria-hidden="true"></div>
  <% end %>

  <div class="contents md:block md:justify-self-center">
    <% if user_signed_in? %>
      <%= render Complete::ButtonComponent.new(lesson:) %>
    <% else %>
      <%= link_to(
            'Sign in to track progress',
            sign_in_path,
            class: 'button button--primary md:w-60',
            data: { test_id: 'sign_in_button' }
          ) %>
    <% end %>
  </div>

  <% if course.next_lesson(lesson).present? %>
    <div class="contents md:block md:justify-self-end">
      <%= link_to lesson_path(course.next_lesson(lesson)), class: 'button button--secondary px-4 py-2 min-w-45 font-medium', data: { test_id: 'next-lesson-btn' } do %>
        Next Lesson
        <%= inline_svg_tag 'icons/arrow-right-circle.svg', class: 'h-8 w-8 pl-2', aria: true, title: 'Next lesson', desc: 'Go to next lesson' %>
      <% end %>
    </div>
  <% elsif lesson.choose_path_lesson? %>
    <div class="contents md:block md:justify-self-end">
      <%= link_to paths_url, class: 'button button--secondary px-4 font-medium', data: { test_id: 'choose-path-lesson-btn' } do %>
        <%= inline_svg_tag 'icons/map.svg', class: 'h-8 w-8 pr-2', aria: true, title: 'Choose path', desc: 'Go to paths page' %>
        Choose Path
      <% end %>
    </div>
  <% else %>
    <div class="hidden md:block" aria-hidden="true"></div>
  <% end %>
</div>
