<div class="flex flex-col justify-center max-w-sm mx-auto space-y-6 md:max-w-full md:space-y-0 md:flex-row md:space-x-7">
  <%= link_to path_course_path(course.path, course), class: 'button button--secondary px-4 font-medium', data: { test_id: 'view-course-btn' } do %>
    <%= inline_svg_tag 'icons/academic-cap.svg', class: 'h-8 w-8 pr-2', aria: true, title: 'View course', desc: 'Go to course page' %>
    View Course
  <% end %>

  <% if user_signed_in? %>
    <%= render Bookmarks::ButtonComponent.new(lesson:, bookmark:, current_user:) %>
    <%= render Complete::ButtonComponent.new(lesson:) %>
  <% else %>
    <%= link_to(
          'Sign in to track progress',
          sign_in_path,
          class: 'button button--primary',
          data: { test_id: 'sign_in_button' }
        ) %>
  <% end %>

  <% if course.next_lesson(lesson).present? %>
    <%= link_to lesson_path(course.next_lesson(lesson)), class: 'button button--secondary px-4 font-medium', data: { test_id: 'next-lesson-btn' } do %>
      <%= inline_svg_tag 'icons/arrow-right-circle.svg', class: 'h-8 w-8 pr-2', aria: true, title: 'Next lesson', desc: 'Go to next lesson' %>
      Next Lesson
    <% end %>
  <% elsif lesson.choose_path_lesson? %>
    <%= link_to paths_url, class: 'button button--secondary px-4 font-medium', data: { test_id: 'choose-path-lesson-btn' } do %>
      <%= inline_svg_tag 'icons/map.svg', class: 'h-8 w-8 pr-2', aria: true, title: 'Choose path', desc: 'Go to paths page' %>
      Choose Path
    <% end %>
  <% end %>
</div>
