<% if Feature.enabled?(:v2_project_submissions, current_user) %>
    <%= turbo_frame_tag dom_id(@lesson, 'project-submissions'), src: lesson_v2_project_submissions_path(lesson, limit: 10)  do %>
      <div class="flex justify-center">
        <%= inline_svg_tag 'icons/spinner.svg', class: 'animate-spin h-12 w-12 text-gray-400 dark:text-gray-300', aria: true, title: 'dismiss', desc: 'dismiss icon' %>
      </div>
    <% end %>

    <% if @lesson.project_submissions.any? %>
      <p class="text-center py-6 px-0">
        <span> Showing <%= limit %> most liked submissions -
        <%= link_to 'View full list of solutions', lesson_v2_project_submissions_path(lesson), class: 'underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300', data: { test_id: 'view-all-projects-link' } %>
      </p>
    <% end %>
<% else %>
  <%= react_component(
        'project-submissions/index',
        {
          userId: current_user.id,
          course: lesson.course.as_json,
          lesson: lesson.as_json,
          submissions: project_submissions,
          allSubmissionsPath: lesson_project_submissions_path(lesson.id),
          userSubmission: user_submission
        }
      ) %>
<% end %>
