<%= title(@lesson.display_title) %>

<div class="bg-white dark:bg-gray-900">
  <div class="page-container pb-10">

    <%= render 'lessons/header', lesson: @lesson %>

    <main class="grid grid-cols-12 gap-x-6" data-controller="lesson-toc" data-lesson-toc-item-classes-value="no-underline hover:text-gray-800 text-sm dark:hover:text-gray-300">
      <article class="col-span-full xl:col-span-7 xl:col-start-2">
        <%= render ContentContainerComponent.new(classes: 'xl:mx-0 pb-6', data_attributes: { lesson_toc_target: 'lessonContent' }) do |component| %>
          <%= @lesson.body.html_safe %>

          <% component.with_footer do %>
            <%= link_to github_edit_url(@lesson), target: :_blank, rel: 'noreferrer noopener', class: 'text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 pr-5 text-sm' do %>
              <%= inline_svg_tag 'icons/github.svg', class: 'h-4 w-4 mr-1 inline', aria: true, title: 'Improve on GitHub', desc: 'Github logo icon' %>
              <span class="underline hover:no-underline">Improve on GitHub</span>
            <% end %>

            <%= link_to github_report_url(@lesson), target: :_blank, rel: 'noreferrer noopener', class: 'inline-flex items-center underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 pr-5 text-sm' do %>
              <%= inline_svg_tag 'icons/flag.svg', class: 'h-4 w-4 mr-1 inline', aria: true, title: 'Report an issue', desc: 'Report icon' %>
              <span>Report an issue</span>
            <% end %>
          <% end %>
        <% end %>

        <% if user_signed_in? && @lesson.accepts_submission? %>
          <div class="py-10 border-t border-gray-100 dark:border-white/5">
            <div class="max-w-2xl mx-auto xl:max-w-full border border-gray dark:border-white/5 rounded-lg p-4 dark:bg-gray-800">
              <%= render 'lessons/project_solution', lesson: @lesson, project_submission: @project_submission %>
            </div>
          </div>
        <% end %>

        <div class="pt-10 border-t border-gray-100 dark:border-white/5">
          <%= render 'lesson_buttons', lesson: @lesson, course: @lesson.course, user: @user %>
        </div>
      </article>

      <aside class="col-span-3 col-start-10 justify-self-end hidden xl:block">
        <div class="sticky top-12 pb-20">
          <h4 class="text-md pb-4 text-gray-700 dark:text-gray-300">Lesson contents</h4>
          <ul class="flex flex-col text-gray-500 dark:text-gray-400" data-lesson-toc-target="toc"></ul>
        </div>
      </aside>
    </main>
  </div>
</div>
