<%= title(@lesson.display_title) %>

<div class="bg-white dark:bg-gray-900">
  <div class="page-container">

    <%= render 'lessons/header', lesson: @lesson %>

    <main class="grid grid-cols-12 gap-x-6" data-controller="lesson-toc" data-lesson-toc-item-classes-value="no-underline hover:text-gray-800 text-sm dark:hover:text-gray-300">
      <article class="col-span-full xl:col-span-7 xl:col-start-2">
        <%= render ContentContainerComponent.new(classes: 'xl:mx-0', data_attributes: { lesson_toc_target: 'lessonContent' }) do |component| %>
        <%= @lesson.body.html_safe %>

        <% component.with_footer do %>
          <div class="pt-10">
          <%= link_to github_edit_url(@lesson), target: :_blank, rel: 'noreferrer noopener', class: 'underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 px-5' do %>

          <span class="fab fa-github mr-1  "></span>

          <span>
            Improve on GitHub
          </span>
          <% end %>

          <%= link_to github_report_url(@lesson), target: :_blank, rel: 'noreferrer noopener', class: 'underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 px-5' do %>

          <span class="fas fa-flag mr-1 "></span>

          <span class="  ">Report an issue</span>
          <% end %>

          </div>
          <% end %>
        <% end %>
      </article>

      <aside class="col-span-3 col-start-10 justify-self-end hidden xl:block">
        <div class="sticky top-12 pb-20">
          <h4 class="text-md pb-4 text-gray-700 dark:text-gray-300">Lesson contents</h4>
          <ul class="flex flex-col text-gray-500 dark:text-gray-400" data-lesson-toc-target="toc"></ul>
        </div>
      </aside>
    </main>
  </div>
</div>

<div class="bg-gray-100 dark:bg-gray-800/30 text-center">
  <div class="page-container">
    <%= render CardComponent.new do |card| %>
    <% card.with_body do %>
    <% if user_signed_in? && @lesson.accepts_submission? %>
    <%= render(
          'lessons/project_submissions',
                  lesson: @lesson,
                  project_submissions: @project_submissions,
                  user_submission: @user_submission,
                  limit: 10
        ) %>
    <% elsif @lesson.accepts_submission? %>
    <p class="mb-7">
      Only logged in users can view user submissions for this project
    </p>
    <% end %>

    <%= render 'lesson_buttons', lesson: @lesson, course: @lesson.course, user: @user %>
    <% end %>
    <% end %>

  </div>
</div>
