<%= render ModalComponent.new(title: 'Report submission')  do %>
  <%= turbo_frame_tag 'flag_form', class: 'w-full' do %>
    <%= form_with model: [@project_submission, @flag], builder: TailwindFormBuilder do |form| %>
      <div class=''>
        <div class="space-y-6 pt-4">
          <div>
            <%= form.text_area :reason, placeholder: 'Please explain why you are reporting this submission...', rows: 6, data: { test_id: 'flag-description-field' }, autofocus: true %>
            <p class="mt-3 text-sm leading-6 text-gray-600 dark:text-gray-400"> Please include as much detail as possible to help us assess and action your report.</p>
          </div>
        </div>

        <div class="mt-5 sm:flex sm:flex-row-reverse pt-4">
          <%= form.submit 'Save', class: 'cursor-pointer inline-flex w-full justify-center rounded-md button--primary px-5 py-2 text-sm font-semibold text-white shadow-sm sm:ml-3 sm:w-auto', data: { test_id: 'submit-btn' } %>
          <button type="button" data-action="click->modal#close" class="button--white mt-3 inline-flex w-full justify-center sm:mt-0 sm:w-auto">Cancel</button>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
