<section class="bg-gray-100 dark:bg-gray-700/10">
  <div class="page-container">
    <h2 class="mb-12 text-center text-2xl font-semibold">Overview of The Odin Project</h2>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-8 gap-y-16">
      <%= render CardComponent.new(classes: 'col-span-3 lg:col-span-1') do |card| %>
        <% card.with_body(classes: 'text-center') do %>
          <p class="font-bold text-2xl"><%= User.count.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></p>
          <p class="text-gray-500 dark:text-gray-400">Learners</p>
        <% end %>
      <% end %>

      <%= render CardComponent.new(classes: 'col-span-3 lg:col-span-1') do |card| %>
        <% card.with_body(classes: 'text-center') do %>
          <p class="font-bold text-2xl">5000+</p>
          <p class="text-gray-500 dark:text-gray-400">Contributors</p>
        <% end %>
      <% end %>

      <%= render CardComponent.new(classes: 'col-span-3 lg:col-span-1') do |card| %>
        <% card.with_body(classes: 'text-center') do %>
          <p class="font-bold text-2xl">2013</p>
          <p class="text-gray-500 dark:text-gray-400">Founded</p>
        <% end %>
      <% end %>

      <div class="col-span-3 lg:col-span-2">
        <%= render CardComponent.new(classes: 'h-full') do |card| %>
          <% card.with_header do %>
            <h3 class="font-bold text-2xl">Origin of The Odin Project</h3>
          <% end %>

          <% card.with_body(classes: 'prose prose-gray max-w-none dark:prose-invert text-gray-500 dark:text-gray-300') do %>
            <p>
              The Odin Project provides a free open source coding curriculum that can be taken entirely online.
              Since its inception, it has helped many students get hired as developers and has assisted countless
              others in learning enough programming to work on their own personal projects.
            </p>
            <p>
              Erik Trautman founded The Odin Project in 2013. Currently it is maintained and continually improved
              by a <%= link_to 'team of volunteers', team_path %> many of whom learned to code with us. Many find
              success from Odin Project&apos;s curriculum because of its hands-on approach with learning and emphasis
              on building projects. The curriculum is meticulously curated to ensure the content is up-to-date.</p>
          <% end %>
        <% end %>
      </div>

      <div class="col-span-3 lg:col-span-1">
        <%= render CardComponent.new do |card| %>
          <% card.with_header(classes: 'flex items-center') do %>
            <a href="https://www.github.com/theodinproject" target="_blank" aria-label="View The Odin Project on GitHub"><i class="fab fa-github fa-2x"></i></a>
            <h3 class="font-bold text-2xl inline-block ml-4">Open Source</h3>
          <% end %>
          <% card.with_body(classes: 'prose prose-gray dark:prose-invert text-gray-500 dark:text-gray-300') do %>
            <p>This website and the curriculum it hosts are completely open source. That means anyone can work on new features or fix existing bugs on the website. This also extends to the curriculum itself, anyone can work on new lessons, add new resources and improve existing lessons.</p>
            <p>The Odin Project would not be possible without the hard work of contributors from all across the world. If you're interested in helping us make The Odin Project better, please find out <a href="<%= contributing_path %>">how to contribute.</a></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
