<section class="bg-gray-100 dark:bg-gray-700/10">
  <div class="page-container">
    <h2 class="mb-12 text-center text-2xl font-semibold">Overview of Learn with Datamonk</h2>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-8 gap-y-16">
      <%= render CardComponent.new(classes: 'col-span-3 lg:col-span-1') do |card| %>
        <% card.with_body(classes: 'text-center') do %>
          <p class="font-bold text-2xl"><%= %></p>
          <p class="text-gray-500 dark:text-gray-400">Learners</p>
        <% end %>
      <% end %>

      <%= render CardComponent.new(classes: 'col-span-3 lg:col-span-1') do |card| %>
        <% card.with_body(classes: 'text-center') do %>
          <p class="font-bold text-2xl">10</p>
          <p class="text-gray-500 dark:text-gray-400">Course</p>
        <% end %>
      <% end %>

      <%= render CardComponent.new(classes: 'col-span-3 lg:col-span-1') do |card| %>
        <% card.with_body(classes: 'text-center') do %>
          <p class="font-bold text-2xl">2024</p>
          <p class="text-gray-500 dark:text-gray-400">Founded</p>
        <% end %>
      <% end %>

      <div class="col-span-3 lg:col-span-3">
        <%= render CardComponent.new(classes: 'h-full') do |card| %>
          <% card.with_header do %>
            <h3 class="font-bold text-2xl">Origin of Learn with Datamonk</h3>
          <% end %>

          <% card.with_body(classes: 'prose prose-gray max-w-none dark:prose-invert text-gray-500 dark:text-gray-300') do %>
            <p>
             Learn with Datamonk offers a free, open-source coding curriculum that’s fully accessible online. 
             Since its launch, it has helped countless learners break into tech — 
             from landing developer jobs to building their own personal and freelance projects.
            </p>
            <p>
              Founded by Rahul Gupta, Datamonk is now maintained and continuously 
              improved by a dedicated team of contributors, many of whom started their journey right here. 
              The curriculum stands out for its project-based, hands-on approach and is carefully curated 
              to stay relevant with current industry practices and technologies.
            </p>
          <% end %>
        <% end %>
      </div>

  
    </div>
  </div>
</section>
