<%= render CardComponent.new(classes: 'mb-16 relative') do |card| %>
  <% card.with_header do %>
    <% if user_signed_in? && course_completed_by_user?(course, current_user) %>
      <div class="absolute top-0 left-0 bg-teal-700 text-teal-50 w-full text-center py-1 font-semibold rounded-t-md">
        Completed <i class="far fa-check-circle"></i>
      </div>
      <div class="mb-4"></div>
    <% end %>

    <div class="flex flex-col items-center justify-between space-y-5 border-b border-gray-300 dark:border-gray-600 pb-4 md:flex-row md:space-y-0">
      <div class="flex flex-col items-center space-y-4 md:flex-row md:space-x-4 text-center md:space-y-0">
        <%= render Course::BadgeComponent.new(course:, options: { show_badge: true, background_color: 'bg-white dark:bg-gray-800', size: :small }) %>
        <%= link_to path_course_url(course.path, course), class: 'flex flex-col md:items-start' do %>
          <h2 id="<%= course.title.parameterize %>" class="font-medium text-xl md:text-left text-gray-900 dark:text-gray-200">
            <%= course.title %>
          </h2>
          <div class="flex gap-3 mt-1">
            <div class="flex items-center">
              <%= inline_svg 'icons/book.svg', alt: 'lesson icon', class: 'mr-1 w-6 h-6 dark:text-gray-500 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-400 shrink-0' %>

              <span class="text-sm text-gray-500"><%= pluralize(course.lessons_count, 'Lesson') %></span>
            </div>
            <div class="flex items-center">
              <%= inline_svg 'icons/wrench-screwdriver.svg', alt: 'lesson icon', class: 'mr-1 w-5 h-6 dark:text-gray-500 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-400 shrink-0' %>

              <span class="text-sm text-gray-500"><%= pluralize(course.projects_count, 'Project') %></span>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to 'Open Course', path_course_url(course.path, course), class: 'button button--secondary' %>
    </div>
  <% end %>

  <% card.with_body do %>
     <p class="prose prose-gray dark:prose-invert max-w-none"><%= course.description %></p>
  <% end %>
<% end %>
