<%= render CardComponent.new(classes: 'mb-16 relative') do |card| %>
  <% card.with_header do %>
    <% if user_signed_in? && course_completed_by_user?(course, current_user) %>
      <div class="absolute top-0 left-0 bg-teal-700 text-teal-50 w-full text-center py-1 font-semibold rounded-t-md">
        <span class="flex items-center w-full justify-center gap-x-1">
          Completed
          <%= inline_svg_tag 'icons/checkmark-circle.svg', class: 'h-5 w-5' %>
        </span>
      </div>
      <div class="mb-4"></div>
    <% end %>

    <div class="flex flex-col items-center justify-between space-y-5 border-b border-gray-300 dark:border-gray-600 pb-4 md:flex-row md:space-y-0">
      <div class="flex flex-col items-center space-y-4 md:flex-row md:space-x-4 text-center md:space-y-0">
        <%= render Course::BadgeComponent.new(course:, options: { show_badge: true, background_color: 'bg-white dark:bg-gray-800', size: :small }) %>
        <%= link_to path_course_url(course.path, course), class: 'flex flex-col md:items-start' do %>
          <h2 id="<%= course.title.parameterize %>" class="font-medium text-xl md:text-left text-gray-900 dark:text-gray-200">
            <%= course.title %>
          </h2>
          <div class="flex space-x-3 mt-2 sm:mt-1.5 justify-center text-gray-500 dark:text-gray-400">
            <div class="flex items-center space-x-1">
              <%= inline_svg 'icons/book.svg', alt: 'lesson icon', class: 'w-5 h-5' %>

              <span class="text-sm"><%= pluralize(course.lessons_count, 'Lesson') %></span>
            </div>
            <div class="flex items-center space-x-1">
              <%= inline_svg 'icons/wrench-screwdriver.svg', alt: 'lesson icon', class: 'w-5 h-5' %>

              <span class="text-sm"><%= pluralize(course.projects_count, 'Project') %></span>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to 'Open Course', path_course_url(course.path, course), class: 'button button--secondary' %>
    </div>
    
    <div class="path-info text-center md:text-left">
        <pclass="text-sm"Number of Courses: <%= course.path.courses.count %></p>
        <p class="text-sm">Number of Projects: <%= course.path.projects.count %></p>
         <p class="text-sm">Progress: <%= current_user.progress_for_course(course) %>% complete</p>
    </div>

  <% end %>

  <% card.with_body do %>
     <p class="prose prose-gray dark:prose-invert max-w-none"><%= course.description %></p>
  
  <div class="course-details">
       <h3 class="font-semibold mt-4">What You'll Learn:</h3>
       <ul>
         <% course.learning_outcomes.each do |outcome| %>
           <li><%= outcome %></li>
         <% end %>
       </ul>
       
       <h3 class="font-semibold mt-4">What You'll Build:</h3>
       <ul>
         <% course.projects.each do |project| %>
           <li><%= project.title %></li>
         <% end %>
       </ul>
     </div>

  <% end %>
<% end %>
