<%= title(@lesson.display_title) %>

<div class="page-container">
   <div>
    <%= link_to lesson_path(@lesson, anchor: 'solutions'), class: 'inline-flex items-center pb-10 text-gray-600 text-base hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 gap-2' do %>
      <%= inline_svg_tag 'icons/arrow-left-circle.svg', aria: true, title: 'Back to lesson icon' %>
      Back to lesson
    <% end %>
  </div>

<%= turbo_frame_tag dom_id(@lesson, 'project-submissions') do %>
  <div class="mb-8 text-left">

    <header class="flex flex-col space-y-6 justify-between items-center pb-8 text-center md:space-y-0 md:text-left md:flex-row">
      <div class="flex md:flex-start flex-col space-y-1">
        <h3 class="text-4xl font-medium" id="solutions">Solutions:</h3>
        <h4 data-test-id="course-lesson-title" class="text-xl text-gray-500 dark:text-gray-400">
          <%= @lesson.course.title %> : (<%= @lesson.title %>)
        </h4>
      </div>
      <% if @current_user_submission.nil? %>
        <%= link_to 'Add solution', new_lesson_v2_project_submission_path(@lesson), id: 'add-submission-button', class: 'button button--primary', data: { turbo_frame: 'modal', test_id: 'add_submission_btn' } %>
      <% end %>
    </header>

    <%= turbo_frame_tag 'submissions-list', data: { test_id: 'submissions-list' } do %>
      <%= render ProjectSubmissions::ItemComponent.new(item: @current_user_submission) %>
      <%= render ProjectSubmissions::ItemComponent.with_collection(@project_submissions) %>
    <% end %>
  </div>
<% end %>

<div class="text-center overflow-x-auto">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
