<%= turbo_frame_tag 'project_submission_form', class: 'w-full' do %>
  <%= form_with model:, builder: TailwindFormBuilder do |form|%>
    <div class='divide-y divide-gray-200 dark:divide-gray-600 space-y-6'>
      <div class="space-y-6 pt-4">
        <div>
          <%= form.label :repo_url, 'GitHub repository' %>
          <%= form.text_field :repo_url, leading_icon: true, autofocus: true, class: 'text-sm', placeholder: 'http://github.com/user-name/repo-name', data: { test_id: 'repo-url-field' } do %>
            <%= inline_svg_tag 'socials/github.svg', class: 'h-5 w-5 text-gray-400', aria: true, title: 'Project GitHub repository', desc: 'GitHub icon' %>
          <% end %>
        </div>

        <% if project_submission.lesson.previewable? %>
          <div>
            <%= form.label :live_preview_url, 'Live preview (optional)' %>
            <%= form.text_field :live_preview_url, leading_icon: true, placeholder: 'http://example.com', class: 'text-sm', data: { test_id: 'live-preview-url-field' } do %>
              <%= inline_svg_tag 'icons/link.svg', class: 'h-5 w-5 text-gray-400', aria: true, title: 'Project live preview', desc: 'Link icon' %>
            <% end %>
          </div>
        <% end %>

        <fieldset class="mt-2">
          <legend class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Privacy</legend>
          <div class="mt-2 space-y-4">
            <div class="relative flex items-start">
              <div class="absolute flex h-6 items-center">
                <%= form.radio_button :is_public, true, class: 'h-4 w-4 border-gray-300 dark:border-gray-500 dark:bg-gray-700/50 dark:checked:bg-gold-600 dark:checked:border-gold-600 dark:focus:ring-offset-gray-800 text-gold-600 focus:ring-gold-600' %>
              </div>
              <div class="pl-7 text-sm leading-6">
                <%= form.label :is_public_true, 'Public to other learners', class: 'dark:text-gray-200' %>
                <p class="text-gray-500 dark:text-gray-400">Anyone can see this project in the solutions list.</p>
              </div>
            </div>
            <div>
              <div class="relative flex items-start">
                <div class="absolute flex h-6 items-center">
                  <%= form.radio_button :is_public, false, class: 'h-4 w-4 border-gray-300 dark:border-gray-500 dark:bg-gray-700/50 dark:checked:bg-gold-600 dark:checked:border-gold-600 dark:focus:ring-offset-gray-800 text-gold-600 focus:ring-gold-600' %>
                </div>
                <div class="pl-7 text-sm leading-6">
                  <%= form.label :is_public_false, 'Private to you' %>
                  <p class="text-gray-500 dark:text-gray-400">Only you can see this project in the solutions list.</p>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="mt-5 sm:flex sm:flex-row-reverse pt-4">
        <%= form.submit 'Save', class: 'cursor-pointer inline-flex w-full justify-center rounded-md button--primary px-5 py-2 text-sm font-semibold text-white shadow-xs sm:ml-3 sm:w-auto', data: { test_id: 'submit-btn' } %>
        <button type="button" data-action="click->modal#close" class="button--white mt-3 inline-flex w-full justify-center sm:mt-0 sm:w-auto">Cancel</button>
      </div>
    </div>
  <% end %>
<% end %>
