<div class="max-w-5xl w-full mx-auto">
  <div class="sm:flex-auto">
    <h1 class="text-xl font-semibold leading-6 text-gray-800 dark:text-gray-300">Users</h1>
  </div>

  <ul role="list" class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">

    <li class="overflow-hidden rounded-lg bg-white dark:bg-gray-800 px-4 py-5 hover:border-gray-300 border border-gray-200 dark:border-gray-700 dark:hover:border-gray-600 sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500 dark:text-gray-300">Total users</dt>
      <dd class="mt-1 text-2xl font-semibold tracking-tight text-gray-800 dark:text-gray-200"><%= number_with_delimiter(User.count) %></dd>
    </li>

    <li class="overflow-hidden rounded-lg bg-white dark:bg-gray-800 px-4 py-5 hover:border-gray-300 border border-gray-200 dark:border-gray-700 dark:hover:border-gray-600 sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500 dark:text-gray-300">Banned</dt>
      <dd class="mt-1 text-2xl font-semibold tracking-tight text-gray-800 dark:text-gray-200"><%= number_with_delimiter(User.banned.count) %></dd>
    </li>

  </ul>

  <div class="border-b border-gray-200 dark:border-gray-800 pb-5 mt-6">
    <h3 class="text-base font-semibold leading-6 text-gray-800 dark:text-gray-300">User sign ups</h3>
  </div>

  <%= render 'admin_v2/reports/date_filters', url: admin_v2_reports_users_path %>

  <div class="mt-4 group flex flex-col gap-1 rounded-md border p-2 sm:p-3 dark:border-gray-800">
    <div class="pb-4 flex flex-col gap-y-1">
      <p class="text-sm font-semibold tracking-tight text-gray-800 dark:text-gray-300">Total sign ups</p>
      <p class="block text-lg font-bold text-gray-800 dark:text-gray-300"><%= number_with_delimiter(@sign_up_stats.values.sum) %></p>
    </div>

    <%= turbo_frame_tag 'sign_up_stats', class: 'block h-60' do %>
      <%= render Charts::LineChartComponent.new(
            labels: @sign_up_stats.keys.map { |date| date.to_fs(:"graph_#{params.fetch(:period, 'day')}") },
            display_x_labels: params.fetch('display_x_labels', true),
            datasets: [
              {
                label: 'Sign ups',
                data: @sign_up_stats.values,
                fill: true,
                backgroundColor: 'blue-200',
                borderColor: 'blue-600',
                borderWidth: 2,
              }
            ],
          ) %>
    <% end %>
  </div>
</div>
