<div style="display:flex;" class="buttons">
  <%= form_with url: dismiss_admin_flag_path do |f| %>
    <%= f.submit 'Dismiss Flag', data: { confirm: 'Are you sure?', test_id: 'dismiss-flag-btn' }, disabled: flag.resolved? %>
  <% end %>

  <%= form_with url: remove_project_submission_admin_flag_path do |f| %>
    <%= f.submit 'Remove Submission', data: { confirm: 'Are you sure?', test_id: 'remove-submission-btn' }, disabled: flag.resolved? %>
  <% end %>

  <%= form_with url: ban_flagged_user_admin_flag_path do |f| %>
    <%= f.submit 'Ban User', data: { confirm: 'Are you sure?', test_id: 'ban-user-btn' }, disabled: flag.resolved? %>
  <% end %>

  <%= form_with url: notify_broken_link_admin_flag_path do |f| %>
    <%= f.submit 'Notify Broken Link', data: { confirm: 'Are you sure?', test_id: 'notify-broken-link-btn' }, disabled: flag.resolved? %>
  <% end %>
</div>
