<!DOCTYPE html>
<html lang="en" class="<%= current_theme.name %>">
  <head>
    <% content_for :error_tracking do %>
      <%= render 'layouts/error_tracking' %>
    <% end %>
    <title>
      <%= content_for(:title) || 'Your Career in Web Development Starts Here | The Odin Project' %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Odin Project empowers aspiring web developers to learn together for free">
    <meta property="og:image" content="<%= image_url('og-logo.png') %>">
    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application_stylesheet', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <%= render 'shared/analytics' %>
  </head>

  <body class="h-full bg-gray-50 text-gray-600 dark:bg-gray-900 dark:text-gray-300">
    <%= render AnnouncementComponent.new(announcement: Announcement.showable_messages(disabled_announcement_ids).first) %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash', flash: flash if flash.any? %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
