<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:title) || 'Your Career in Web Development Starts Here | The Odin Project' %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', 'main', media: 'all', data: { turbo_track: 'reload' } %>
    <%= render 'shared/sentry' %>
    <%= render 'shared/analytics' %>
    <%= javascript_include_tag 'main', defer: true, data: { turbo_track: 'reload' } %>
  </head>
  <body class="text-center h-screen m-0">
    <main class="grid place-items-center min-h-screen">
      <div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
