<%= title('Sign up') %>

<div class="page-container">

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-200">Sign up for free</h2>
    <p class="block mt-2 text-center text-sm text-gray-600 dark:text-gray-300">
      Or
      <%= link_to 'sign in to your existing account', sign_in_path, class: 'font-medium underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300' %>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <%= render CardComponent.new do |card| %>
      <%= card.with_body do %>
        <%= form_for resource, as: resource_name, url: registration_path(resource_name), builder: TailwindFormBuilder, data: { controller: 'form-validation', action: 'submit->form-validation#validateAll' } do |form| %>
          <div class="space-y-6">
            <div>
              <%= form.label :username %>
              <%= form.text_field :username, required: true, autofocus: true, class: 'dark-form-input', data: { test_id: 'username_field', attr: 'form-validation.username', action: 'input->form-validation#validate' } %>
            </div>

            <div>
              <%= form.label :email %>
              <%= form.email_field :email, required: true, value: params[:email], class: 'dark-form-input', data: { test_id: 'email_field', attr: 'form-validation.email', action: 'blur->form-validation#validate' } %>
            </div>

            <div>
              <%= form.label :password %>
              <%= form.password_field :password, required: true, class: 'dark-form-input', data: { test_id: 'password_field', attr: 'form-validation.password', action: 'blur->form-validation#validate' } %>
            </div>

            <div>
              <%= form.label :password_confirmation %>
              <%= form.password_field :password_confirmation, required: true, class: 'dark-form-input', data: { test_id: 'password_confirmation_field', attr: 'form-validation.password_confirmation', action: 'blur->form-validation#validate' } %>
            </div>

            <div class="text-center">
              <%= link_to 'By signing up, you agree to our terms of use.', terms_of_use_path, class: 'font-medium text-gray-500 dark:text-gray-400 hover:underline text-sm' %>
            </div>

            <div>
              <%= form.submit 'Sign up', class: 'button button--primary w-full py-2 px-4 text-sm', data: {test_id: 'submit_btn', disable_with: false } %>
            </div>
          </div>
        <% end %>

        <div class="mt-6">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <p class="bg-white dark:bg-gray-800 px-2 text-gray-500 dark:text-gray-400">Or continue with</p>
            </div>
          </div>
        </div>

        <div class="mt-6 grid grid-cols-2 gap-3">
          <%= render(Oauth::ConnectButtonComponent.with_collection(%i[github google], resource_name:)) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
